* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home {
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.home::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.home > * {
    position: relative;
    z-index: 1;
}
